# Editor backup files
*~
.*.swp
.*.swo

# clangd
.cache/

# Build artifacts
build/
obj-x86_64-linux-gnu/

# Ignore vcpkg build artifacts
vcpkg/buildtrees/
vcpkg/downloads/
vcpkg/installed/
vcpkg/packages/